body {
  margin: 0;
}

#flipbook {
  /* width: 90vw; */
  height: 100vh;
  border-style: dotted;
  flex-grow: 1;
}

#menu {
  width: 10vw;
}

.d-flex {
  display: flex;
}

.chap {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.box-1,
.box-2 {
  flex-grow: 1;
  /* display: none; */
}

.story.story-active .box-1,
.story.story-active .box-2 {
  display: unset;
}

.story {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  /* transform: translateX(100%); */
}

.story-active {
  transform: none;
}

.swiper-container {
    position: absolute;
}



@media only screen and (max-width: 1080px) {
  /* Tablet */
}

@media only screen and (max-width: 768px) {
  /* Mobile - Large */
  #flipbook {
    width: 100vh;
    height: 100vh;
    border-style: dotted;
  }

  #menu {
    display: none;
  }

  #chap-1 {
    /* justify-content: center; */
    flex-direction: column;
  }
  .box-1,
  .box-2 {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  /* Mobile - Small */
}
